    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What is ConCoffee?</h2>
              <br/>
                <h4>ConCoffee was started by <a href="https://twitter.com/hhoover">Hart Hoover</a> as a coffee meetup at tech conferences. So many in tech like coffee, and so much coffee at conventions is terrible. ConCoffee organizes a meetup for conference attendees in the host city to enjoy excellent coffee, crafted by locals.</h4>
                <br/>
              </div>
        </div>
    </section>
